@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100vh;
  background-color: #fdfdfd;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  width: 24px;
  height: 24px;
  fill: rgb(22, 119, 255);
  cursor: pointer;
}