.audio-element {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 1%;
  justify-content: space-between;
  &__control-btn {
    width: max-content;
  }
  &__waves {
    audio {
      display: none;
    }
  }
  &_align-center {
    align-items: center;
  }
}