.message {
  width: max-content;
  max-width: 70%;
  white-space: pre-wrap;
  display: flex;
  gap: 4px;
  &:target {
    .message__content {
      animation: fadeInOut 0.7s ease-in-out;
      animation-iteration-count: 2;
      animation-fill-mode: forwards;
    }
  }
  &:hover {
    .message__actions {
      visibility: visible;
    }
  }
  &__content {
    background-color: rgba(238, 238, 238, 100);
  }
  &_mine {
    .message__content {
      background-color: rgb(190 225 248);
    }
  }
  &__wrapper-inner-content {
    padding: 7px 12px 8px;
  }
  &__wrapper-inner-content_with-links {
    padding: 7px 12px 15px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: calc(100% - 54px);
    overflow: hidden;
    border-radius: 20px 20px 20px 3px;
    transition: fadeInOut 125ms;
  }
  &__link-previewer {
  }
  &__actions {
    visibility: hidden;
    display: flex;
    height: max-content;
    gap: 2px;
    flex: 0 1 20px;
  }
  &__audio-element-wrapper {
    padding: 7px 12px;
  }
  &__attachments-wrapper {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 2px;
  }
  &__attachments-unknown-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__attachments-unknown-wrapper_with-line {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 70%;
      height: 1px;
      box-shadow: 0 0 1px 0 black inset;
      transition: 125ms;
    }
  }
  &__attachment-unknown {
    flex: 1 50%;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
  &__attachment {
    cursor: pointer;
    list-style-type: none;
    flex: 1 0 130px;
    &:hover {
      * {
        opacity: 0.8;
      }
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: auto;
      object-fit: cover;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    line-break: anywhere;
    img {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-left: 1px;
      margin-right: 1px;
      vertical-align: bottom;
    }
  }
  &__text_pb {
    padding-bottom: 7px;
  }
  &__attachment-unknown {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    padding: 7px 12px;
  }
}

@keyframes fadeInOut {
  0% {
  }
  50% {
    opacity: .3;
  }
  100% {
  }
}