.chat-content {
  position: relative;
  display: block;
  overflow-y: auto;
  padding-right: 5px;
  height: 100%;
  scroll-behavior: smooth;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    min-height: 100%;
  }
}