.dialogs {
  padding-top: 10px;
  width: 30%;
  min-width: 30%;
  height: 100%;
  background-color: #fdfdfd;
  &__header {
    padding: 0 12px;
    min-height: 40px;
    margin-bottom: 10px;
  }
  &__list {
    list-style-type: none;
  }
}