.scroll-button {
  z-index: 10;
  position: absolute;
  right: 30px;
  top: -65px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px !important;
    height: 50px;
  }
  svg {
    width: 28px;
    height: 28px;
  }
}